*{
    box-sizing: border-box;
}

.whole {
    padding: 10px;
    margin: 10px;
}
/* .about {
    margin-top: 50px;
} */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding:10px; */
    position: fixed; 
    top: 0;
    max-width: 500% ;
    width: 100%;
    margin-left: -20px;
    transition: 0.6s;
    margin-bottom: 5px;
    background-color: rgb(96, 91, 91);
    


}

header.sticky {
    /* padding: 1rem 1rem; */
    background:rgb(3, 68, 122);
    width: 100%;
}

header.sticky ul li a {
    color: #000 ;
}
header .logo {
    cursor: pointer;
    position: relative;
    transition: 0.6s;
    float: left;
    text-decoration: none;
    background-color: bisque;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.logo:hover {
    color: #0088a9; 
}

 /* nav ul */
header .nav_links {
    
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    background-color: bisque;
    border-radius: 5px;
    margin-bottom: 2px;
    width: 100%;

}


header .nav_links .nav_li  {
    
    background-color: bisque;
    padding: 0px 20px;
    position: relative;
    margin: 0 5px; 

}

header .nav_links .nav_li .nav_a { 
    
    padding: 5px;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease 0s;
    float: right;

}

header .nav_links .nav_li .nav_a:hover {  
    color: #0088a9
}

body {
    background-color: rgb(215, 234, 250);
    color:black;
    font-family: 'Times New Roman', Times, serif;
    
}

.intro {
    margin-bottom: 20px;
    padding: 5px;
}
 /*connect styling link */
.connect_a {
    padding: 5px;
    color:rgb(4, 60, 88);
    text-decoration: none;
    transition: all 0.3s ease 0s;
    margin: 20px;
    
    
}

.connect_a:hover {
    color:#0088a9;
}

h1 {
    font-size: 30px;
    font-weight: strong;
    color:black;
    margin-top: 70px;
    
}

h2 {
    font-size: medium;
    font-weight: 600;
    color:black;
   margin: 20px;
   
}


/* styling experience list as block*/
.exp_h1 {
    text-align: left;
}
.section_padding {
    padding-top: 20px;
}

/*flex experience */



.flex-box {
    border: 3px solid rgb(241, 245, 248) ;
    border-radius: 15px;
    background-color: rgb(109, 126, 125);
    padding: 5px;
    list-style-type: none;
    display: inline-block;
    width: calc(100%/ 3);
    text-align: center;
    margin-top: 5px;
    flex: auto;
    justify-content: center;
    margin-right: 20px;
    margin-left: 60px;

}
.one {
    min-height: 100px;
    flex-shrink: 0;
    order: 1;
}
.two {
    min-height: 100px;
    order:2;
}

.three {
    min-height: 100px;
    flex-grow: 1;
    order: 3; 
}
.four {
    min-height: 100px;
    order: 4; 
}



/*styling blocks in a section*/
.skills_ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    
}
.skills_ul li {
    display: inline-block;
    list-style-type: none;
    border: 2px solid rgb(4, 60, 88) ;
    border-radius: 15px 50px 30px 5px;
    background-color: rgb(84, 155, 189);
    padding: 5px;
    margin: 20px;
    text-align: center;
    width: calc(100%/5);
}

.skill_h2 {
    text-align: left;
}


/*styling form */
.field_label {
    display: block; 
    font-size: medium;
    color: darkslateblue;
    font-weight: 600;
    padding: 5px ;
    margin-right: 25px ;
}

.contact {
    margin: 30px;
}


/* button styling */ 

.button { 
    background-color:darkslategrey;
    color: white; 
    padding: 5px 5px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin-bottom: 10px;
}

.button_remove { 
    background-color:crimson;
    color: white; 
    padding: 5px 5px;
    text-align: right;
    display: inline-block;
    font-size: 15px;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin-bottom: 10px;
    
}


.message_section li {
    list-style-type: none;
    padding: 5px;
}


/* footer */
footer {
   padding: 5px;
    background-color: darkgrey;
}
.footer_class {
    text-align: center;
}


/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color:  #3f666b; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    }
    
    .sibebarbtn {
      display: none;
    }
    
    .mySidebar {
      display: flex;
      align-items:flex-end;
    }
    
    .sideButton {
      background-color: #3fc5a8;
      border-radius: 3px;
      color: white;
      min-width: 100px;
      padding: 0.5rem 1rem;
      transition: opacity 0.2s ease-in-out;
    }
    
    /* The sidebar links */
    .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: whitesmoke;
    display: block;
    transition: 0.3s;
    }
/*project link styling */

.projects_ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

    
.projects_ul li {
    display: inline-block;
    list-style-type: none;
    border: 2px solid rgb(4, 60, 88) ;
    border-radius: 15px 50px 30px;
    background-color: rgb(72, 136, 162);
    padding: 5px;
    margin: 20px;
    text-align: center;
    width: calc(100%/5);
}

.project_links{
    background:
    linear-gradient(
      to right,
      rgb(137, 182, 182),
      rgb(34, 89, 89)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
    text-decoration: none;

    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
    text-decoration-color: #000;

}

.project_links:hover {
    
    background-size: 0 3px, 100% 3px;
}

.project_links:visited {
    color:aliceblue;
}

.message {
    background-color: whitesmoke;
    border-radius: 5px 30px;
    

    /* align-items: right; */
    display: flex;
    padding: 1rem 1rem;
    color: #000;
    margin-bottom: 1rem;
    margin-top: 1rem;

    
  }


/*media queries */

@media screen and (max-width: 768px) {
    .sibebarbtn {
      display: block;
    }
    .nav_links .nav_li {
        display: none;
    }

}
